.buildpath
.project
.settings
.git
.gitkeep
.gitignore
.dockerignore
Dockerfile*
docker-compose.yaml
*.env*
*.pem*
.venv*
*.csv
*.pyc
__pycache__
package-lock.json
.DS_Store
.VolumeIcon.icns
.idea
.vscode
./kubernetes
./docker_build.sh
./docker_run.sh
./destroy.sh
./k8s_build.sh
./registry.sh
./rollout_update.sh
./setup.sh